<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Log in</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<div class="container align-self-center w-75">
    <div class="card p-4 m-4">
        <h2 class="card-header">登录</h2>
        <form action="#" method="post" class="card-body">
            <div class="form-group">
                <label for="usernameId">用户名</label>
                <input type="text" name="username" id="usernameId" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="passwordId">密码</label>
                <input type="password" name="password" id="passwordId" class="form-control"/>
            </div>

            <p class="text-center">
                <button type="submit" class="btn btn-primary">登 录</button>
            </p>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
<script th:src="@{/js/bootstrap.min.js}" src="../static/js/bootstrap.min.js"></script>
</body>
</html>